.spacer {
    flex: 1;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    border-bottom: 1px solid #80808052;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: white;
    font-weight: 600;
    padding: 0px 57px;
  }


  .brand-name{
        color: #aa0c10;
        font-size: 22px;
    }
.img-brand{
    margin: 0px 16px 0px 41px;
    width: 140px;
}
  @media screen and (max-width: 575px) {
    .brand-name{
       display: none;
    }
    .img-brand{
        margin: 0px 41px 
    }
  }