<div>
    <div class="input-div">
        <form #searchForm="ngForm" (ngSubmit)="search()">
            <input name="search-term" type="text" class="form-control" [(ngModel)]="searchTerm" placeholder=" search photos...">
        </form>
    </div>
    <div *ngIf="!navigation.noResultFound">
        <div infinite-scroll [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="300"
    (scrolled)="fetchNextPagePics()" class="gallery-row">
            
            <div class="gallery-column">
                <div class="img-div" *ngFor="let photo of navigation.resultData[0]; let j = index;">
                    <app-image-tile [tileData]="photo"></app-image-tile>
                </div>
            </div> 

            <div  class="gallery-column">
                <div  class="img-div" *ngFor="let photo of navigation.resultData[1]; let j = index;">
                    <app-image-tile [tileData]="photo"></app-image-tile>
                </div>
                
            </div>

            <div   class="gallery-column">
                <div  class="img-div" *ngFor="let photo of navigation.resultData[2]; let j = index;">
                    <app-image-tile [tileData]="photo"></app-image-tile> 
                </div> 
            </div>

            <div   class="gallery-column">
                <div  class="img-div" *ngFor="let photo of navigation.resultData[3]; let j = index;">
                    <app-image-tile [tileData]="photo"></app-image-tile>
                </div>  
                
            </div>    
        </div>
    </div>

    <div class="no-result" *ngIf="navigation.noResultFound">
        <h1>Sorry we couldn't find any matches for <span style="color: #4ad295;">{{searchParams.text}}</span>.</h1>
    </div>
    
</div>
